$text: #212529;

$bg-gray: #dee2e6;

$white: #ffffff;
$off-white: #f1f3f5;
$bright-gray: #e9ecef;
$dull-gray: #adb5bd;

// icon colors
$icon-mountain-meadow: #12b886;
$icon-sea-green: #15aabf;
$icon-orange-red: #fa5252;
